{% extends 'common/base.html' %} {% block content %}

<div>
  <h2 class="text-3xl font-semibold">Emissão de Notas</h2>
  <div class="flex align-center justify-between my-8">
    <div class="flex gap-6 flex-1 align-items">
      <h2 class="text-3xl font-medium">Ordem de Serviço</h2>
      <input
        class="py-2 px-4 rounded-lg border focus:outline-red-900 w-96"
        id="search"
        name="search"
        type="search"
        placeholder="Digite o número da ordem de serviço"
      />
      <button
        class="py-2 px-6 rounded-lg text-center bg-black text-white font-medium self-center"
        type="submit"
      >
        Confirmar
      </button>
    </div>
  </div>

  <div class="flex justify-between mb-8">
    <p class="text-lg font-bold uppercase">Selecione a ordem de serviço</p>
    <div class="flex gap-4">
      <button
        class="flex py-2 px-4 rounded-lg text-center bg-gray-300 font-light items-center gap-2"
      >
        <i class="fas fa-download"></i>
        Download
      </button>
      <button
        class="flex py-2 px-4 rounded-lg text-center bg-gray-300 font-light items-center gap-2"
      >
        <i class="fas fa-print"></i>
        Imprimir
      </button>
    </div>
  </div>
  <div class="grid grid-cols-8 gap-4">
    {% for item in list_services %}
    <div
      class="bg-red-200 h-[6rem] w-[11rem] p-2 bg-white rounded drop-shadow-md"
    >
      <p class="font-bold">SERV {{item.id}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
