{% extends 'common/base.html' %} {% block content %}

<div class="flex flex-col w-full h-full">
  <form
    class="w-full h-full flex flex-col gap-4"
    action="{% url 'create_support' %}"
    method="POST"
  >
    {% csrf_token %}
    <div class="flex align-center justify-between mb-4">
      <h2 class="text-3xl font-semibold">Abrir Chamado de Suporte</h2>

      <button
        class="py-2 px-4 rounded-lg text-center bg-black text-white font-medium self-center"
        type="submit"
      >
        Abrir Chamado
      </button>
    </div>

    <textarea
      id="descricao"
      name="descricao"
      cols="33"
      placeholder="Digite o motivo da abertura do chamada"
      class="flex flex-1 border border-grey-500 outline-none p-2 rounded"
    ></textarea>
  </form>
</div>

{% endblock %}
